/*global variables*/
:root {
    --main-color: #1C1C1C;
    --color-white: #fff;
}

/*------------------------------------------------------------*/
/*general styles*/
html {
    scroll-padding-top: 61px;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

ul,ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

/*------------------------------------------------------------*/
/*genral clasess*/

.cursor-pointer {
    cursor: pointer;
}

.sec-header h3 {
    font-size: 2.5rem;
    color: #343434;
    line-height: 2.75rem;
    font-weight: 900;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.sec-header h3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: url(../images/dots.png);
    top: 55%;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    z-index: -1;
}

/*------------------------------------------------------------*/
/*navbar*/
.navbar {
    background-color: var(--color-white);
    z-index: 50;
    -webkit-box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
}

.navbar-list-icon {
    font-size: 25px;
    color: #343434;
}

#navbar-daniels .container-lg {
    width: 1160px;
}

@media screen and (min-width:1200px) and (max-width:1399px) {

    /* bootstrap .col-xl */
    #navbar-daniels .container-lg {
        width: 980px;
    }
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    line-height: 40px;
    font-weight: 800;
    color: #1C1C1C;
    letter-spacing: 1px;
}

.navbar-nav li a {
    font-size: .875rem;
    line-height: 20px;
    color: #111111;
    position: relative;
    font-weight: 400;
    margin-left: 20px;
}

#navbar-daniels .active {
    position: relative;
}

#navbar-daniels .active::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: var(--main-color);
    top: 80%;
    left: 49%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media screen and (max-width:991px) {

    /* bootstrap .col-md */
    #navbar-daniels .active::after {
        width: 6%;
        top: 80%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .navbar-nav {
        border-top: 1px solid gray;
    }
}

@media screen and (max-width:575px) {

    /* bootstrap .col- */
    #navbar-daniels .active::after {
        width: 15%;
        top: 80%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .navbar-nav {
        border-top: 1px solid gray;
    }
}

.navbar-toggler {
    border-color: transparent;
}

.navbar-toggler:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-nav {
    --bs-nav-link-padding-x: 40%;
}

/*------------------------------------------------------------*/
/*home*/
#home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../images/bg.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/bg.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/bg.jpg);
    background-size: cover;
    min-height: 100vh;
}

.home h5 {
    font-size: 3.125rem;
    line-height: 3.4375rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.home h1 {
    font-size: 3.75rem;
    line-height: 4.5rem;
    font-weight: 200;
    padding: 12px 0;
}

@media screen and (min-width:576px) and (max-width:767px) {

    /* bootstrap .col-sm */
    .home h5 {
        font-size: 40px;
        line-height: 45px;
    }

    .home h1 {
        font-size: 45px !important;
    }
}

@media screen and (max-width:575px) {

    /* bootstrap .col- */
    .home h5 {
        font-size: 30px;
        line-height: 35px;
    }

    .home h1 {
        font-size: 35px !important;
    }
}

.social-icons figure {
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-right: 5px;
    border-radius: 50%;
}

.social-icons figure i {
    font-size: 14px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    color: var(--color-white);
}

.social-icons figure iconify-icon {
    font-size: 15px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    color: var(--color-white);
}

/*------------------------------------------------------------*/
/*about*/
.about .layer {
    width: 80%;
    background-image: url(../images/dots.png);
    right: 21%;
    top: 31%;
}

.about-image img {
    width: 95%;
}

.about .about-content h3 {
    color: #343434;
    margin-bottom: .3125rem;
}

.about .about-content span {
    font-size: .875rem;
    line-height: 1.25rem;
    letter-spacing: 2px;
    opacity: 0.8;
}

.about .about-content p {
    margin-top: 20px;
    font-size: .9375rem;
    line-height: 1.5rem;
    opacity: 0.9;
}

.progress,
.progress-stacked {
    height: 25px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 10px -5px rgba(0, 0, 0, 0.75) inset;
    box-shadow: 1px 2px 10px -5px rgba(0, 0, 0, 0.75) inset;
    position: relative;
}

.progress-bar {
    padding: 0 10px;
    text-align: end;
    background-color: var(--main-color);
    border-radius: 8px;

}

.progress-lable {
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.progress-lable h6 {
    font-size: .8125rem;
    line-height: .8938rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-download,
.btn-contact{
    font-size: .8125rem;
    line-height: 1.1607rem;
}

.btn-download {
    background-color: var(--main-color);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 10px 30px;
}

.btn-download:hover {
    background-color: var(--color-white);
    border: 1px solid var(--main-color);
    color: rgba(0, 0, 0, 0.7);
}

.btn-contact {
    background-color: var(--color-white);
    border: 1px solid var(--main-color);
    color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 10px 30px;

}

.btn-contact:hover {
    background-color: var(--main-color);
    border: 1px solid var(--color-white);
    color: var(--color-white);
    opacity: 1;
}


@media screen and (min-width:1200px) and (max-width:1399px) {

    /* bootstrap .col-xl */
    .about .layer {
        top: 32%;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {

    /* bootstrap .col-lg */
    .about .layer {
        right: 23%;
        top: 31%;
    }
}

@media screen and (max-width:991px) {

    /* bootstrap .col-md */
    .about .layer {
        right: 19%;
        top: 29%;
    }
}

@media screen and (max-width:575px) {

    /* bootstrap .col- */
    .about .layer {
        right: 18.5%;
        top: 31%;
        /* display: none; */
    }

    .about-image img {
        width: 92%;
    }
}

/*------------------------------------------------------------*/
/*service*/
#services {
    background-color: #F7F7F7;
    padding: 48px 0;
    margin: 48px 0;
}

.service-card {
    padding: 2.5rem 1.25rem;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.service-card:hover .div-icon {
    background-color: var(--main-color);
}

.service-card:hover .div-icon iconify-icon {
    color: var(--color-white);
}

.service-card:hover .div-icon i {
    color: var(--color-white);
}

.div-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: #f4f4f4;
    position: relative;
    margin: 0 auto 1.25rem;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.div-icon iconify-icon {
    font-size: 40px;
    color: var(--main-color);
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.div-icon i {
    font-size: 30px;
    color: var(--main-color);
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.service-card h2 {
    font-size: 1.125rem;
    color: #343434;
    font-weight: 800;
    line-height: 1.2375rem;
    margin-bottom: 1rem;
}

.service-card p {
    font-size: .875rem;
    color: #343434;
    line-height: 1.4rem;
}

/*------------------------------------------------------------*/
/*works*/
.work-card {
    position: relative;
    overflow: hidden;
}

.work-layer {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    background-color: var(--color-white);
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
    /* visibility: hidden; */
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.work-content h6 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


.work-layer button {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color: var(--color-white);
}

.work-layer button:hover {
    background: var(--color-white);
    color: var(--main-color);
}

/*hover on work card*/
.work-card:hover .work-layer {
    /* visibility: visible; */
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.work-card:hover .work-content h6 {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}


/*work modal*/
.btn-close {
    --bs-btn-close-focus-shadow: none;
}

.modal-content {
    background-color: transparent;
    border: none;
}

.modal-header {
    border-bottom: none;
}

.btn-close {
    --bs-btn-close-bg: none;
    --bs-btn-close-opacity: 1;
}

/*work navs & tabs*/
.portfolio-btn {
    color: #222222;
    font-size: 1rem;
    line-height: 1.4286rem;
    font-weight: 700;

}

.nav-tabs {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 40px;
}

.nav-tabs .nav-link.active {
    color: var(--main-color);
    border-color: transparent;
    position: relative;
}

.nav-tabs .nav-link.active::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1.5px;
    background-color: var(--main-color);
    top: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.nav-tabs .nav-link {
    color: #333;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
}


/*------------------------------------------------------------*/
/*clients*/
#clients {
    background-color: #F7F7F7;
}

.clients .bg-div {
    width: 100%;
    height: 5px;
    background-color: #F7F7F7;
}

.clients-img-container {
    width: 80px;
    height: 80px;
    margin: 0 auto .9375rem;
}

.clients-review p {
    font-size: .9375rem;
    line-height: 1.5rem;
    max-width: 70%;
    display: block;
    margin: auto;
}

@media screen and (max-width:991px) {

    /* bootstrap .col-md */
    .clients-review p {
        max-width: 90%;
    }
}

.clients-review h6 {
    font-size: 1rem;
    line-height: 1.1rem;
    font-weight: 600;
    margin-top: 1.875rem;
    margin-bottom: .3125rem;
}

.clients-review span {
    font-size: 12px;
    line-height: 1.0893rem;
    font-weight: 600;
    color: #888888;
}

.carousel-indicators {
    bottom: -80px;
}

.carousel-indicators [data-bs-target] {
    background-color: #869791;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

/*------------------------------------------------------------*/
/*counter*/
.counter-div-icon i {
    font-size: 30px;
    font-weight: 700;
    color: #343434;
    margin-bottom: 15px;
}

.counter-content h3 {
    font-size: 1.875rem;
    line-height: 2.0625rem;
    font-weight: 900;
    color: #343434;
    margin-bottom: 15px;
}

.counter-content p {
    font-size: .9375rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #748182;
    margin-bottom: 30px;
}

/*------------------------------------------------------------*/
/*team*/
#team {
    background-color: #F7F7F7;
}

.team .team-card {
    background-color: #5B5B5B;
    border-radius: 0 0 5px 5px;
}

.team-member-details h4 {
    padding-top: 1.5625rem;
    font-size: 1.5625rem;
    line-height: 1.7188rem;
    font-weight: 500;
    margin-bottom: .3125rem;
}

.team-member-details h5 {
    font-size: 1.25rem;
    line-height: 1.375rem;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 1.5625rem;
}

.team .team-card .layer {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    top: 5px;
    left: 5px;
    width: 97%;
    height: 97%;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.team-member-img {
    position: relative;
    overflow: hidden;
}

.team-member-img img {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team-member-img:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.team-member-img:hover .layer {
    opacity: 1;
    -webkit-transform: scale(1) rotateY(360deg);
    transform: scale(1) rotateY(360deg);
}

.team .team-card:hover .layer {
    opacity: 1;
    -webkit-transform: scale(1) rotateY(360deg);
    transform: scale(1) rotateY(360deg);
}

.team .social-icons {
    height: 100%;
}

.team .social-icons ul{
    padding: 0;
}

.team .social-icons li a {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-white);
    background-color: var(--main-color);
    margin-right: 5px;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.team .social-icons li a:hover {
    border: 1px solid var(--main-color);
    background-color: var(--color-white);
}

.team .social-icons li a:hover i {
    color: var(--main-color);
}

.team .social-icons li a i {
    font-size: 20px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    color: var(--color-white);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/*------------------------------------------------------------*/
/*contact*/

#contact .contact-card:hover .div-icon {
    background-color: var(--main-color);
}

#contact .contact-card:hover .div-icon i {
    color: var(--color-white);
}

#contact .div-icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #f4f4f4;
    position: relative;
    margin-bottom: .9375rem;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#contact .div-icon i {
    font-size: 25px;
    color: var(--main-color);
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#contact .contact-card h6 {
    color: #343434;
    font-size: 16px;
    line-height: 1.1rem;
    font-weight: 700;
}

#contact .contact-card p {
    font-size: .9375rem;
    line-height: 1.5rem;
}

.first-two-input input {
    width: 49%;
}

@media screen and (max-width:991px) {

    /* bootstrap .col-md */
    .first-two-input {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .first-two-input input {
        width: 100%;
    }
}

input,
textarea {
    font-size: .875rem;
    line-height: 1.3125rem;
    padding: 10px;
    display: inline-block;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #F4F4F4;
    border-radius: 5px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #4e4e4edb;
    font-size: .875rem;
    line-height: 1.3125rem;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #4e4e4edb;
    font-size: .875rem;
    line-height: 1.3125rem;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #4e4e4edb;
    font-size: .875rem;
    line-height: 1.3125rem;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: #4e4e4edb;
    font-size: .875rem;
    line-height: 1.3125rem;
}

input::placeholder,
textarea::placeholder {
    color: #4e4e4edb;
    font-size: .875rem;
    line-height: 1.3125rem;
}

input:focus {
    outline: none !important;
    border: none;
}

textarea:focus {
    outline: none !important;
    border: none;
}

#contact form button {
    font-size: .8125rem;
    line-height: 1.1607rem;
    border: 1px solid var(--color-white);
    padding: .625rem 2.5rem;
    background-color: var(--main-color);
    color: var(--color-white);
}

#contact form button:hover {
    background-color: var(--color-white);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

/*------------------------------------------------------------*/
/*footer*/
#footer {
    padding: 30px;
    background-color: #1C1C1C;
    color: var(--color-white);
}

.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-content p {
    font-size: .8125rem;
    line-height: 1.3rem;
    margin: 10px;
    color: #748182;
}
